.place__lower{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
@media screen and (max-width: 1023px) {
    .place__lower{
            gap: 28px;
        }
}
@media screen and (max-width: 767px) {
    .place__lower{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:32px;
        }
}