.place__block {
    display: flex;
    gap: 40px;
    margin-bottom: 48px;
}
.place__block:last-of-type{
    margin-bottom: 0px;
}

@media screen and (max-width: 1279px) {
    .place__block {
        gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__block {
        gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__block {
        flex-direction: column;
        margin:0;
        gap: 32px;
    }
    .place__block:last-of-type{
        align-items: center;
    }
}