.place__website {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-end;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .place__website {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }
}